.wrapper {
  @apply w-full flex justify-center;
  .container {
    @apply w-full max-w-[1500px] flex flex-col items-center py-10;
    .heading {
      @apply w-full flex flex-col items-center;
      label {
        @apply text-sm text-white md:text-lg lg:text-4xl font-bold;
      }
      p {
        @apply text-gray-200 mt-4;
      }
    }
    .specialization {
      @apply w-full max-w-[1200px] flex min-h-[520px]  mt-24 justify-center relative border border-red-400;
      @media (min-width: 786px) {
        background-image: url("/index-shape.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 60%;
      }

      .outerpulse {
        @apply w-20 h-20 flex justify-center items-center rounded-full animate-outerPulse;
        .circlereact {
          @apply w-20 h-20 rounded-full bg-bgColor flex justify-center items-center;
          .react {
            @apply flex justify-center items-center w-10 h-10 rounded-full bg-bgColor  animate-pulse;
            .icon {
              @apply text-[#61dafb] text-4xl;
            }
          }
        }
      }
    }
  }
}
